---
name: app-action-ci

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write
  security-events: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: orbitcluster/oc-cicd-python-workflow@feat/push_init
        with:
          test-directory: "test"
          app-name: "oc-python-test"
          appid: "1"
          orgid: "101"
          buid: "1001"
          role-to-assume: ${{ secrets.OC_ROLE_TO_ASSUME }}
