---
name: app-workflow-ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write
  security-events: write

jobs:
  build-deploy:
    uses: orbitcluster/oc-cicd-python-workflow/.github/workflows/all-ci.yml@v1
    with:
      test-directory: "test"
      app-name: "oc-python-test1"
      appid: "1"
      orgid: "104"
      buid: "1002"
    secrets:
      role-to-assume: ${{ secrets.OC_ROLE_TO_ASSUME }}
