---
name: app-ci

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: orbitcluster/oc-cicd-python-workflow@dk/fixworkflow
        with:
          test-directory: "test"
