---
name: app-ci

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  actions: read
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write
  security-events: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: orbitcluster/oc-cicd-python-workflow@v1
        with:
          test-directory: "test"

      - name: SAST Scan (CodeQL)
        uses: orbitcluster/oc-cicd-sast-workflow@feat/sast_init
        with:
          language: "python"
