---
name: pre-commit
on:
  push:
    branches-ignore:
      - main
  pull_request:
permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pre-commit/action@v3.0.1
